@page "/Receiver"
@using System.Text.Json
@using EasyKiosk.Client.Manager
@using EasyKiosk.Core.Model
@using EasyKiosk.Core.Model.DTO
@using EasyKiosk.Core.Model.Responses
@using Microsoft.AspNetCore.SignalR.Client

<div class="d-flex flex-grow-1 bg-dark">
    
    @if (Orders is not null)
    {
        <div class="row">
            @for (int i = 0, c = 0; i < Orders.Count; i++, c++)
            {
                if (c > _colorCodes.Length-1)
                    c = 0;

                
                <div class="col-6" style="border: 0.3em solid @_colorCodes[c]; color: @_colorCodes[c]">
                    <h5>Order: @Orders[i].OrderNumber</h5>
                    @foreach (var detail in Orders[i].OrderDetails)
                    {
                        <p class="text-white"><span>@detail.Qty</span>x @detail.ProductName</p>
                    }
                </div>
            }
        </div>
    }
</div>



@code
{
    private ConnectionManager _connectionManager;
    private HubConnection _connection;

    private string[] _colorCodes = ["#ff0000;", "#2bff00;", "#00f7ff;"];
    
    
    
    [Parameter]public List<OrderDto>? Orders { get; set; }
    
    
    public Receiver(ConnectionManager connectionManager)
    {
        _connectionManager = connectionManager;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        var data = await _connectionManager.GetInitialDataAsync<ReceiverDataResponse>();
        
        _connection = await _connectionManager.GetHubConnection();

        
        Orders = data.Value.OpenOrders.ToList();
        

        await InvokeAsync(StateHasChanged);
        
        
        Console.WriteLine("Hub connection state => " + _connection.State);

        _connection.On<string>("ReceiveOrder", (orderJson) =>
        {
            Console.WriteLine("Order Received");
            Console.WriteLine("OrderJson => " + orderJson);
            
            var order = JsonSerializer.Deserialize<OrderDto>(orderJson);
            Orders.Add(order);
            
            InvokeAsync(StateHasChanged);
        });
    }
    
}
