@page "/Receiver"




<section id="Orders" class="row flex-grow-1 justify-content-start align-content-start px-3 overflow-scroll bg-dark">
   @if (Orders is not null)
   {
       @foreach (var order in Orders)
       {
           <div class=" d-flex flex-column col-6 vh-50 fs-3 text-white p-4 border border-3" @onclick="(() => HandleOrderTap(order.OrderNumber))">
               
               <div class="d-flex justify-content-between">
                   <h5><strong>#: @order.OrderNumber - @order.State </strong></h5>
                   <p><strong>@order.Time.Hour:@(order.Time.Minute < 10 ? $"0{order.Time.Minute}" : $"{order.Time.Minute}")</strong></p>
               </div>
               
               
               
              
               @foreach (var detail in order.OrderDetails)
               {
                   <p class="text-white"><span>@detail.Qty</span>x @detail.ProductName</p>
               }
                 
           </div>
       }
   }
</section>


<Modal @ref="_modal" IsVerticallyCentered="true" ShowCloseButton="false" OnShowing="OnModelShown">
    <BodyTemplate>
        <Button @ref="_updateButton" @onclick="HandleUpdateOrderRequest">
            
            <p class="h3 text-center">Update order</p>
            
        </Button>
    </BodyTemplate>
</Modal>
